/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);
/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** *
/* VARIABLES */
:root {
    /* colores */
    --color-fondoBlack: #181818;
    --color-fondoGrey: #5c5c5c;
    --color-fondoMain: #e3e3e3;
    --color-fondoWhite: #fafafa;
    --color-yellow: #f1c40f;
    /* tipografia */
    --fuente-titulos: "Roboto", sans-serif;
    --fuente-texto: "Open Sans", sans-serif;
    /* tamaños */
    --tamano-nombre: 6rem;
    --tamano-texto: 1rem;
    --tamano-subtitulo: 2.5rem;
    --tamano-boton: 1rem;
    /* Efectos */
    --border: 5px solid var(--color-yellow);
    --sombra: -40px -40px 0px var(--color-yellow);
}
/* ******************************** */
body {
    background: url(../img/desktop/texture.avif),
        radial-gradient(
            circle,
            rgba(207, 222, 223, 0.805) 60%,
            rgba(57, 95, 99, 0.399) 100%
        ),
        linear-gradient(
            90deg,
            rgba(242, 109, 20, 0.747) 50%,
            rgba(70, 206, 221, 0.788) 100%
        ),
        var(--color-yellow);

    font-family: var(--fuente-texto);
    font-size: var(--tamano-texto);
}
/* CONTAINER */
#container {
    background-color: var(--color-fondoWhite);
    max-width: 1366px;
    margin: 0 auto;
    box-shadow: rgba(12, 78, 84, 0.805) 8px 0px 20px,
        rgba(163, 98, 23, 0.805) -8px 0px 20px;
    /* GRID 1 x 3 */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}
/* HEADER */
/* ********************************************** */
header {
    background-color: var(--color-fondoBlack);
    color: #fff;
    height: 80vh;
    /* GRID 4 x 6 */
    display: grid;
    grid-template-columns: [margen]0.2fr [titulos]0.6fr [margen]0.2fr [menuimagen]2fr;
    grid-template-rows: [header]80px [seapracion]2fr [texto]repeat(3, auto) [separacion]1fr;
}
/* Textos en mayúsculas */
.header__tituloweb,
.header__menu a,
.header__boton,
.header__nombre {
    text-transform: uppercase;
}
/* Capas superiores */
.header__subtitulo,
.header__nombre {
    z-index: 1;
}
/* Elementos de GRID */
.header__tituloweb {
    grid-column: 2 / span 1;
    place-self: center;
}
.header__menu {
    grid-column: 4 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-fondoGrey);
    & a {
        color: #fff;
    }
    & a:hover,
    .activo {
        padding-bottom: 3px;
        border-bottom: var(--border);
    }
}
.header__img {
    grid-column: 4 / span 1;
    grid-row: 2 / -1;
    background: url(../img/desktop/person.avif) no-repeat center top;
    background-size: cover;
}
.header__subtitulo {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    font-size: var(--tamano-subtitulo);
}
.header__nombre {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    font-size: var(--tamano-nombre);
}
.header__boton {
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    justify-self: center;
    /* boton */
    font-size: var(--tamano-boton);
    background-color: var(--color-yellow);
    padding: 10px 20px;
    color: var(--color-fondoBlack);
    font-weight: 900;
}

/* MAIN */
/* ********************************************** */
.main {
    padding: 80px 200px;
    background-color: var(--color-fondoMain);
    /* GRID 4 x 4 */
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.3fr 0.5fr;
    grid-template-rows: repeat(2, auto) 1fr;

    & .main__imagen {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        box-shadow: var(--sombra);
    }
    & .main__subtitulo {
        grid-column: 3 / span 1;
        font-size: var(--fuente-texto);
    }
    & .main__titulo {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        font-size: var(--tamano-subtitulo);
        background: linear-gradient(
            0deg,
            var(--color-yellow) 0%,
            var(--color-yellow) 50%,
            transparent 50%
        );
    }
    & .main__textos {
        grid-column: 3 / span 2;
        grid-row: 3 / span 1;
    }
}

/* FOOTER */
/* ********************************************** */
footer {
    padding: 80px 200px;
    /* TITULOS y NAVEGACIÓN */
    & .footer__titulos {
        display: flex;
        flex-direction: column;
        & .footer__titulo {
            display: flex;
            justify-content: center;
            font-size: var(--tamano-subtitulo);
        }
        & .footer__subtitulo {
            display: flex;
            justify-content: center;
            margin: 0 400px;
            line-height: 2;
            font-size: var(--fuente-texto);
            background: linear-gradient(
                0deg,
                var(--color-yellow) 0%,
                var(--color-yellow) 50%,
                transparent 50%
            );
        }
        & .footer__menu {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin: 50px 0;
        }
    }
    /* GALERIA */
    & .footer__galeria {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
        gap: 10px;
        & a {
            border-radius: 10px;
            filter: grayscale(100%);
        }
        & a:hover{
            filter: initial;
            transition: 0.3s all;
            border: var(--border);
         
        }
        & a:nth-child(1) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover ;
        }
        & a:nth-child(2) {
            background: url(../img/desktop/person.avif) center center/cover no-repeat;
        }
        & a:nth-child(3) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(4) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(5) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(5) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(6) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(7) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(8) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
        & a:nth-child(9) {
            background: url(../img/desktop/person.avif) no-repeat center center/cover;
        }
    }
    /* BOTON */
    & .footer__boton {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        & .footer__loadmore {
            font-size: var(--tamano-boton);
            background-color: var(--color-fondoBlack);
            padding: 10px 20px;
            color: var(--color-fondoWhite);
            font-weight: 900;
            border-radius: 50px;
        }
    }
}
